body {
  background-color: wheat;
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
}
.list {
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}

.pic:hover {
  transform: scale(1.12);
}
.up-shelf {
  display: flex;
  justify-content: space-around;
}

.down-shelf {
  display: flex;
  justify-content: space-around;
}

.btn-wrapper {
  display: inline-block;
  width: 250px;
  margin: 50px 20px;
}

.btn {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(179, 117, 56);
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.btn:hover {
  background-color: white;
  color: rgb(179, 117, 56);
  transform: scale(1.12);
}

.btn-text {
  position: absolute;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.btn-dis {
  pointer-events: none;
}

.list {
  display: flex;
  justify-content: center;
}
